.navbar {
    display: flex;
    justify-content: space-between; /* Выравниваем кнопки по правому краю */
    align-items: center;
    padding: 10px 20px;
    background-color: #2b3034;
  }
  
  .navbar a,
  .navbar button {
    display: inline-block;
    padding: 10px;
    margin-left: 10px; /* Отступ между кнопками */
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    background-color: #e6b333;
    border: 2px solid #22272d;
    color: #fff;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Ширина кнопок будет зависеть от контента */
    min-width: 100px; /* Устанавливаем минимальную ширину для кнопок */
    max-width: 200px; /* Можно задать максимальную ширину, чтобы кнопки не растягивались слишком сильно */
  }
  
  .navbar a:hover,
  .navbar button:hover {
    background-color: #d3a524;
  }
  
  .navbar a:active,
  .navbar button:active {
    background-color: #b08819;
  }
  
  /* Стили для разделителя между кнопками */
  .navbar a:not(:first-child),
  .navbar button:not(:first-child) {
    position: relative;
  }
  
  .navbar a:not(:first-child)::before,
  .navbar button:not(:first-child)::before {
    content: "|";
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    color: #2f2c2c;
  }
  