@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

.profilePanel{
  display: flex;
  justify-content: end;
  padding: 15px 20px 0;
}

.navbar-profile{
  display: flex;
  align-items: center; 
  gap: 10px;
}

.username{
  color: #eee;
}

.wrapper {
  margin: 10px auto;
}

.profile-container, .resume-profile-container, .pass-change-container{
  width: 600px;
  margin: 50px auto;
  background-color: #2c2f34;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-container h2, .resume-profile-container h3, .pass-change-container h3{
  color: #eee;
  margin: 20px 0px;
}

.icon-edit{
  height: 24px;
}

.infoFields{
  margin: 0;
}

.infoFields p{
  color: #989898;
  margin-top: 30px;
}

.infoFields input, select {
  width: 100%;
  padding: 12px;
  border: 1px solid #828282;
  background-color: #444446;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-logout{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background: none;
  border: none;
  color: rgb(237, 46, 46);
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
}

.buttons-box{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn-save, .btn-cancel{
  width: 45%;
  height: 40px;
  border-radius: 5px;
  background: #e6b333;
  border: none;
  color: white;
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
}

.btn-cancel{
  background: #7b7667;
}

.btn-logout:hover{
  color: rgb(217, 132, 132);
}
.btn-save:hover{
  background: #d3a524;
}

.btn-cancel:hover {
  background: #a8a291;
}

.resume-list {
  font-size: 18px;
}

.resume-item{
  color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.resume-item .btn-edit, .btn-view{
  height: 30px;
  margin-left: 20px;
  background-color: #f1d58a;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 0 10px;
}

.resume-item .btn-edit{
  background-color: #f2dc9f;
  color: #464544;
}

.resume-item .btn-view{
  background-color: #a28840;
}

.create-resume{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-resume p{
  color: #cdcdcd;
}

.btn-add{
  width: auto;
  padding: 0 20px;
  height: 40px;
  border-radius: 5px;
  background: #e6b333;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}


.btn-add:hover{
  background: #d3a524;
}
