/* src/components/RegistrationForm.css */
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.registration-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.registration-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.registration-button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.registration-button:hover {
  background-color: #45a049;
}

.registration-message {
  margin-top: 10px;
  font-size: 16px;
  color: #4caf50;
}
