@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

.resume-form {
  width: 600px;
  margin: 50px auto;
  background-color: #2c2f34;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resume-form .form-group{
  margin-bottom: 20px;
}

.resume-form h2, .title {
  color: #eee;
  text-align: center;
  margin: 20px 0px;
}

.resume-form label {
  color: #989898;
  margin-top: 30px;
}

.templates-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.templates-container .btn-template{
  color: #daa35b;
  background-color: #2c2f34;
  border: none;
}

.resume-form input, textarea, select {
  width: 100%;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #828282;
  background-color: #565659;
  border-radius: 4px;
  color: #e6b333;
}

.resume-form input:focus, textarea:focus, select:focus {
  background-color: #444446;
  outline: none;
}

.btn-save-resume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 40px;
  border-radius: 5px;
  background: #e6b333;
  border: none;
  color: white;
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
  margin: 0 auto;
}


.btn-save-resume:hover {
  background: #d3a524;
}

/* .create-resume {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */



